{% extends "layout.html" %}

{% block script %}
<script>

	
	$(document).ready(function () {

        function UpdateIssuesTable(issues) {
            var tabledata = "";
			$.each(issues, function () {
				//create a table row element and sub in values
				var tablerow = `<tr onclick="document.location = 'issue_detail?title=${this.title}'";><td>${this.title}</td><td>${this.priority}</td><td>0</td></tr>`
				tabledata += tablerow
				console.log("Adding Row: " + tablerow);
			});
			$("#issues-table tbody").html(tabledata);
        };

        function UpdateOverview(issues) {
            $("#overview-all-value").text(issues.length);
            var priorities = [0, 1, 2];
            $.each(priorities, function(n){
                var filtered_issues = FilterIssues(issues,n);
				switch(n){
					case 0:
						$("#overview-high-value").text(filtered_issues.length);
						break;
					case 1:
						$("#overview-medium-value").text(filtered_issues.length);
						break;
					case 2:
						$("#overview-low-value").text(filtered_issues.length);
						break;
				};
            });
        };

        function FilterIssues(issues, priority) {
            var filtered_issues = issues.filter(function(issue){
                return issue.priority == priority;
            });
            return filtered_issues;
        };

		function GetIssues(priority) {
			$.getJSON('/crosscheck/api/v1/issues', function(json){
				var issues = json.result;
				console.log(issues);

                //Before we do any filtering we update the overview
                UpdateOverview(issues);

                //Update the issues table depending on the priority requested
                switch(priority){
                    case 0:
                        issues = FilterIssues(issues,0);
                        break;
                    case 1:
                        issues = FilterIssues(issues,1);
                        break;
                    case 2:
                        issues = FilterIssues(issues,2);
                        break;
                };

			    //Update issues table
                UpdateIssuesTable(issues);

            });
		};
		
		GetIssues();


		//Add onclick actions
		$("#overview-high").click(function () {
			$("#issues-title").text('High Priority Issues');
			GetIssues(0);
		});
		$("#overview-medium").click(function () {
			$("#issues-title").text('Medium Priority Issues');
			GetIssues(1);
		});
		$("#overview-low").click(function () {
			$("#issues-title").text('Low Priority Issues');
			GetIssues(2);
		});
		$("#overview-all").click(function () {
			$("#issues-title").text('All Issues');
			GetIssues();
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
	<!-- Overview Section -->
	<header class="w3-container" style="padding-top:22px">
		<h5><b>Overview</b></h5>
	</header>
	<div class="w3-row-padding w3-margin-bottom">
		<div class="w3-quarter" id="overview-high">
			<div class="w3-container w3-red w3-padding-16" style="cursor:pointer">
				<div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-high-value">0</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>High</h4>
			</div>
		</div>
		<div class="w3-quarter" id="overview-medium">
			<div class="w3-container w3-orange w3-text-white w3-padding-16" style="cursor:pointer">
				<div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-medium-value">0</h3>
				</div>
					<div class="w3-clear"></div>
					<h4>Medium</h4>
				</div>
		</div>
		<div class="w3-quarter" id="overview-low">
			<div class="w3-container w3-blue w3-padding-16" style="cursor:pointer">
				<div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-low-value">0</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Low</h4>
			</div>
		</div>
		<div class="w3-quarter" id="overview-all">
			<div class="w3-container w3-grey w3-padding-16" style="cursor:pointer">
				<div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-all-value">0</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>All</h4>
			</div>
		</div>
	</div>

	<!--Issues Section-->
	<div class="w3-container" >
		<h5 id="issues-title">All Issues</h5>
		<table id="issues-table" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
			<thead class="w3-black">
				<tr>
					<td>Issue</td>
					<td>Priority</td>
					<td>Count</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<br>
	</div>
</div>
{% endblock %}
