{% extends "layout.html" %}

{% block script %}
<script>
	$(document).ready(function () {
		//Helper functions
		function UpdateIssuesTable(req_pri) {
			var data = {
				priority : req_pri
			};
			$.getJSON('/_issuesGroupedByTitle', data, function (result) {
				var tabledata = ""
				$.each(result, function () {
					//var tablerow = "<tr onclick=\"document.location = 'test?this'\";><td>" + this.Title + "</td><td>" + this.Priority + "</td><td>" + this.Count + "</td></tr></a>"
					var tablerow = `<tr onclick="document.location = 'checkdetail?title=${this.Title}'";><td>${this.Title}</td><td>${this.Priority}</td><td>${this.Count}</td></tr>`
					tabledata += tablerow
					console.log("Adding Row: " + tablerow);
				});
				$("#issues-table tbody").html(tabledata);
			});
			return false;
		};
		
		function UpdateIssuesCount() {
			$.getJSON('/_issuesGroupedByPriority', function(data) {
				$.each(data, function(){
					switch(this.Priority){
						case 0:
							$("#overview-high-value").text(this.Count);
							break;
						case 1:
							$("#overview-medium-value").text(this.Count);
							break;
						case 2:
							$("#overview-low-value").text(this.Count);
							break;
						case -1:
							$("#overview-all-value").text(this.Count);
							break;
					};
				});
			});
		};

		//Initial page actions 
		UpdateIssuesCount();
		UpdateIssuesTable();

		//Add onclick actions
		$("#overview-high").click(function () {
			$("#issues-title").text('High Priority Issues');
			UpdateIssuesTable('0')
		});
		$("#overview-medium").click(function () {
			$("#issues-title").text('Medium Priority Issues');
			UpdateIssuesTable('1')
		});
		$("#overview-low").click(function () {
			$("#issues-title").text('Low Priority Issues');
			UpdateIssuesTable('2')
		});
		$("#overview-all").click(function () {
			$("#issues-title").text('All Issues');
			UpdateIssuesTable()
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
	<!-- Overview Section -->
	<header class="w3-container" style="padding-top:22px">
		<h5><b>Overview</b></h5>
	</header>
	<div class="w3-row-padding w3-margin-bottom">
		<div class="w3-quarter" id="overview-high">
			<div class="w3-container w3-red w3-padding-16">
				<div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-high-value">0</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>High</h4>
			</div>
		</div>
		<div class="w3-quarter" id="overview-medium">
			<div class="w3-container w3-orange w3-text-white w3-padding-16">
				<div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-medium-value">0</h3>
				</div>
					<div class="w3-clear"></div>
					<h4>Medium</h4>
				</div>
		</div>
		<div class="w3-quarter" id="overview-low">
			<div class="w3-container w3-blue w3-padding-16">
				<div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-low-value">0</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Low</h4>
			</div>
		</div>
		<div class="w3-quarter" id="overview-all">
			<div class="w3-container w3-grey w3-padding-16">
				<div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="overview-all-value">0</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>All</h4>
			</div>
		</div>
	</div>

	<!--Issues Section-->
	<div class="w3-container" >
		<h5 id="issues-title">All Issues</h5>
		<table id="issues-table" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
			<thead class="w3-black">
				<tr>
					<td>Issue</td>
					<td>Priority</td>
					<td>Count</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<br>
	</div>
</div>
{% endblock %}
